{% extends "layout.html" %}

{% block content %}
<div>체크</div>
<table>
    <thead>
        <tr>
            <th>예약번호</th>
            <th>고객명</th>
            <th>연락처</th>
            <th>이메일</th>
            <th>방문주소</th>
            <th>예약일시</th>
            <th>모델</th>
            <th>용량</th>
            <th>서비스</th>
            <th>주기</th>
            <th>추가사항</th>
            <th>비고</th>
            <th>보증금</th>
            <th>상태</th>
        </tr>
    </thead>

</table>

{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}

{% block style %}
<style>
    table{
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ccc;
    }
</style>
{% endblock %}