<ul class="nav nav-underline row justify-content-center flex-row border-bottom m-0 mb-3 w-100 text-center" style="white-space: nowrap;">
    <li class="nav-item col-2">
        {% if request.originalUrl === '/' %}
        <a class="nav-link active" aria-current="page" href="/gisa">오늘</a>
        {% else %}
        <a class="nav-link" href="/gisa">오늘</a>
        {% endif %}
    </li>
    <li class="nav-item col-2">
        {% if request.originalUrl === '/users' %}
        <a class="nav-link active" aria-current="page" href="/gisa/order">오더</a>
        {% else %}
        <a class="nav-link" href="/gisa/order">오더</a>
        {% endif %}
    </li>
    <li class="nav-item col-2">
        {% if request.originalUrl === '/reservation' %}
        <a class="nav-link active" aria-current="page" href="/gisa/pay">정산</a>
        {% else %}
        <a class="nav-link" href="/gisa/payment">정산</a>
        {% endif %}
    </li>
    <li class="nav-item col-2">
        {% if request.originalUrl === '/history' %}
        <a class="nav-link active" aria-current="page" href="/gisa/history">이력</a>
        {% else %}
        <a class="nav-link" href="/gisa/history">이력</a>
        {% endif %}
    </li>
</ul>