body {
    padding:0;
    margin:0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color:black !important;
}
main{
    width:100%;
    max-width: 660px;
    height:100%;
    background-color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: #00B7FF;
}

.bi-bell .new-order{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: 6px;
        right: 0;
        background-color: red;
        padding: 3px 3px;
        border-radius: 50%;
        font-size: 12px;
    }
}
